* {
  padding: 0px;
  margin: none;
}
:root {
  --primary-blue: #3f235a;
  --background: #f6f6f6;
}
.nav-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e6e3ec;
  height: 60px;
  padding: 0px 40px;
}
.nav-div ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  display: flex;
  gap: 15px;
}
.left {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0 0 0;
  margin: 0;
}
.nav-div li {
  list-style-type: none;
}
.category-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  width: 155px;
  background-color: white;
  height: 45px;
  border-radius: 20px;
  padding: 0px 6px 0px 2px;
}
.category-menu span:nth-child(1) {
  padding-left: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-blue);
  color: white;
  align-content: center;
}
.right {
  display: flex;
  gap: 25px;
}
.profile-icon {
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}
.profile-icon span {
  font-size: 25px;
  color: rgb(13, 13, 50);
}
.cart-icon {
  width: 45px;
  height: 45px;
  text-align: center;
  align-content: center;
  border-radius: 50%;
  background-color: var(--primary-blue);
  font-size: 20px;
  font-weight: 800;
  color: rgb(150, 132, 30);
}
.price-icon span{
  font-weight: 600;
}

.price-icon {
  display: grid;
  align-items: center;
}

.section {
  display: flex;
  padding: 15px 40px;
  background-color: var(--background);
  width: 100%;
}

.sidebar {
  background-color: white;
  border-radius: 10px;
  font-size: 1.1rem;
}
.line{
  margin: 0px 20px;
}
.sidebar ul {
  padding: 20px 20px;
  list-style: none;
  line-height: 45px;
  color: rgba(100, 100, 111, 0.7);
}
.sidebar ul li:nth-child(1) {
  color: rgba(100, 100, 111, 1);
  font-weight: 600;
}
.reset-btn{
  border: 1px solid #e4deea;
  width:50%;
  height:45px
}
.apply-btn{
  background-color: var(--primary-blue);
  /* border: 1px solid #e4deea; */
  width:50%;
  height:45px
}
.main {
  width: 100%;
}
.filter-div{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.2rem;
  color: rgba(100, 100, 111, 0.2);

}
.filter-div span:nth-child(2){
  color: black;
}
.filter-div select{
  height: 40px;
  border-color: rgba(100, 100, 111, 0.2);
  background-color: #f9f8f8;
}
.first {
  padding: 20px 0px;
}
.card-row {
  padding: 10px 0px;
}
.cards {
  border-radius: 10px;
}
.card {
  position: relative;
  border: none;
  min-width: 220px;
}
.card:hover {
  /* border: 1px solid #E6E3EC; */
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.card-img {
  min-height: 290px;
}
.cart-button {
  font-weight: 700;
  height: 50px;
  width: 100%;
  color: rgb(150, 132, 30);
  background-color: var(--primary-blue);
}
.cart-button:hover {
  font-weight: 700;
  height: 50px;
  width: 100%;
  color: rgb(150, 132, 30);
  background-color: var(--primary-blue);
}

.offer-circle {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 45px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--primary-blue);
  color: white;
  align-content: center;
}
@media screen and (max-width: 600px) {
 .right{
  display: none;
 }
 .left{
  display: none;
 }
}

.input{
  width: 50%;
  text-align: center;
  height: 45px;
  border: 1px solid rgba(89, 73, 144, 0.2);
  border-radius: 5px;
}
.filter{
  padding: 30px 20px;
  list-style: none;
  line-height: 40px;
}
.filter h5{
  padding-bottom: 20px;
}
.input-div{
  display: flex;
  gap: 15px;
}
.button-div{
  display: flex;
  gap: 25px;
}

.admin{
  padding: 20px;
  width: 100vw;
}
.admin-page{
  height: 100vh;
  display: flex;
  justify-content: space-between;
  /* padding:20px; */
  gap: 20px;
  /* align-items: center; */
}
.edit-button{
  cursor: pointer;
}
.form-div{
  margin-right: 20px;
  min-width: 300px;
}